@import url('https://fonts.googleapis.com/css2?family=Abel&family=Angkor&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background-color: #cbd5e1; */
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}
nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 10px 50px; /* Adjust padding for better spacing */
    /* background-color: #df0000; Your background color */
    background-color: #E74C3C;
    /* reuseable color */
    color: #ffffff;
}

  
.header {
    display: flex;
    align-items: center;
}

.logo-short,.logo-name {
    font-size: 50px;
    font-family: Algerian;
}

.logo-name {
    display: flex;
    font-size: 35px;
    font-family: sans-serif;
}

.logo-name {
    display: flex;
    align-items: center;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-items ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-items ul li {
    margin-left: 20px; /* Add space between each nav item */
}
  
.nav-items ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px; /* Adjust font size */
}

.register a {
    border: 1px solid #ffffff; /* White border */
    border-radius: 25px;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-items ul li a:hover {
    color: #96938d; /* Golden color for hover effect */
}

.register a:hover {
    background-color: #ffffff; /* White background on hover */
    color: #E74C3C; /* Red text on hover */
}

.container {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 30px 50px; /* Adjust for better spacing */
}


.left-side-bar {
   
    width: 45%;
    height: 500px;
    padding: 160px 30px 0px 30px;
    background-color: #08C2FF;
    color: #333333;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #80808047;
}

.left-side-bar h2 {
    color: white;
    font-size: 42px;
    font-family: sans-serif;
}

.left-side-bar button {
    margin: 20px 0;
    padding: 10px 18px;
    border-radius: 4px;
    font-size: 16px;
    font-family: revert;
    border: none;
    color: white;
    background: #0093E9;
}

.left-side-bar p {
    font-size: 18px;
}
 
.left-side-bar h2 span
{
    color: #333333;
}


.right-side-bar {
    width: 45%;
    height: 500px;
    background-color:   #E7B9B9;/* Neutral gray */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333; /* Dark text for readability */
}

/* ============================ testing code ================== */











